awscliv2.zip
aws/  
get_helm.sh
kubectl
kubectl.sha256
eks-node.pem
eks-client/istio-*/
iam_policy.json
terraform.tfstate
terraform.tfstate.backup 
cni-plugins-linux-*-v*.tgz  
containerd-*-linux-*.tar.gz
runc.amd64
